@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0px;
    color: white;
}

.list {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.left {
    width: 170px;
    height: 400px;
    color: white;
}

.menu {
    width: 200px;
    height: 70px;
}

.notice {
    width: 220px;
    height: 70px;
    margin-right: 90px;
}

.basemenu {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 30px;
    position: fixed;
}  

.blank {
    flex-grow: 1
}

#top {
    position: fixed;
}

.imglogo {
    width: 100px;
    margin-bottom: 100px;
}

.page2 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/space7.png);
    background-size: cover;
}

.page3 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/space9.png);
    background-size: cover;
}

#NO1 {
    background-image: url(../img/space8.png);
}

#NO2 {
    background-image: url(../img/space7.png);
}

#NO3 {
    background-image: url(../img/space9.png);
}

.Container {
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}
