
#Notice {
    background-image: url(../img/space3.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Notice {
    color: black;
    border: 3px solid white;
    width: 50vw;
    height: 60vh;
    margin-left: 40vw;
    margin-top: 3vh;
    text-align: center;
    background-color: rgba(225, 225, 225, 0.7);
}

#Notice1 {
    font-size: 3vw;
    margin-top: 2vh;
    border-bottom: 1px solid purple;
}
