
#Notice {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111420;
}

.Notice {
    color: black;
    border: 3px solid white;
    width: 50vw;
    height: 40vw;
    text-align: center;
    background-color: rgba(225, 225, 225, 0.7);
}

#Notice1 {
    font-size: 3vw;
    margin-top: 2vh;
    border-bottom: 1px solid purple;
}
