#img7-1 {
    background-image: url(../img/);
    background-size: cover;
}

#img7-2 {
    background-image: url(../img/);
    background-size: cover;
}

#img7-3 {
    background-image: url(../img/);
    background-size: cover;
}

#img7-4 {
    background-image: url(../img/);
    background-size: cover;
}

#img7-5 {
    background-image: url(../img/);
    background-size: cover;
}

#img7-6 {
    background-image: url(../img/);
    background-size: cover;
}

#img7-7 {
    background-image: url(../img/);
    background-size: cover;
}

#img7-8 {
    background-image: url(../img/);
    background-size: cover;
}

#img7-9 {
    background-image: url(../img/);
    background-size: cover;
}

#img7-10 {
    background-image: url(../img/);
    background-size: cover;
}

