#img6-1 {
    background-image: url(../img/ew5.JPG);
    background-size: cover;
}

#img6-2 {
    background-image: url(../img/ew6.JPG);
    background-size: cover;
}

#img6-3 {
    background-image: url(../img/ew7.JPG);
    background-size: cover;
}

#img6-4 {
    background-image: url(../img/ew8.JPG);
    background-size: cover;
}

#img6-5 {
    background-image: url(../img/ew9.JPG);
    background-size: cover;
}

#img6-6 {
    background-image: url(../img/ew10.JPG);
    background-size: cover;
}

#img6-7 {
    background-image: url(../img/ew11.JPG);
    background-size: cover;
}

#img6-8 {
    background-image: url(../img/);
    background-size: cover;
}

#img6-9 {
    background-image: url(../img/);
    background-size: cover;
}

#img6-10 {
    background-image: url(../img/);
    background-size: cover;
}

