#img8-1 {
    background-image: url(../img/);
    background-size: cover;
}

#img8-2 {
    background-image: url(../img/);
    background-size: cover;
}

#img8-3 {
    background-image: url(../img/);
    background-size: cover;
}

#img8-4 {
    background-image: url(../img/);
    background-size: cover;
}

#img8-5 {
    background-image: url(../img/);
    background-size: cover;
}

#img8-6 {
    background-image: url(../img/);
    background-size: cover;
}

#img8-7 {
    background-image: url(../img/);
    background-size: cover;
}

#img8-8 {
    background-image: url(../img/);
    background-size: cover;
}

#img8-9 {
    background-image: url(../img/);
    background-size: cover;
}

#img8-10 {
    background-image: url(../img/);
    background-size: cover;
}

