#img2-1 {
    background-image: url(../img/y1.jpeg);
    background-size: cover;
}

#img2-2 {
    background-image: url(../img/y2.jpeg);
    background-size: cover;
}

#img2-3 {
    background-image: url(../img/y3.jpeg);
    background-size: cover;
}

#img2-4 {
    background-image: url(../img/y4.jpeg);
    background-size: cover;
}

#img2-5 {
    background-image: url(../img/y5.jpeg);
    background-size: cover;
}

