#img3-1 {
    background-image: url(../img/f1.jpeg);
    background-size: cover;
}

#img3-2 {
    background-image: url(../img/f2.JPG);
    background-size: cover;
}

#img3-3 {
    background-image: url(../img/f4.JPG);
    background-size: cover;
}

#img3-4 {
    background-image: url(../img/);
    background-size: cover;
}

#img3-5 {
    background-image: url(../img/);
    background-size: cover;
}

