#img5-1 {
    background-image: url(../img/);
    background-size: cover;
}

#img5-2 {
    background-image: url(../img/);
    background-size: cover;
}

#img5-3 {
    background-image: url(../img/);
    background-size: cover;
}

#img5-4 {
    background-image: url(../img/);
    background-size: cover;
}

#img5-5 {
    background-image: url(../img/);
    background-size: cover;
}

#img5-6 {
    background-image: url(../img/);
    background-size: cover;
}

#img5-7 {
    background-image: url(../img/);
    background-size: cover;
}

#img5-8 {
    background-image: url(../img/);
    background-size: cover;
}

#img5-9 {
    background-image: url(../img/);
    background-size: cover;
}

#img5-10 {
    background-image: url(../img/);
    background-size: cover;
}

