#img4-1 {
    background-image: url(../img/c1.jpeg);
    background-size: cover;
}

#img4-2 {
    background-image: url(../img/c2.jpeg);
    background-size: cover;
}

#img4-3 {
    background-image: url(../img/c3.jpeg);
    background-size: cover;
}

#img4-4 {
    background-image: url(../img/c4.JPG);
    background-size: cover;
}

#img4-5 {
    background-image: url(../img/c5.JPG);
    background-size: cover;
}

#img4-6 {
    background-image: url(../img/c6.jpg);
    background-size: cover;
}

#img4-7 {
    background-image: url(../img/c7.JPG);
    background-size: cover;
}

#img4-8 {
    background-image: url(../img/c8.JPG);
    background-size: cover;
}

#img4-9 {
    background-image: url(../img/c9.JPG);
    background-size: cover;
}

